*{
    margin: 0;
    padding: 0;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner {
    font-size: 20px;
}
#clock {
    font-size: 20px;
    margin-top: 10px;
    background-color: rgb(255, 196, 0);
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px; 
}